<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Task Management</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Completed</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.completed}"></td>
        <td>
            <a th:href="@{/tasks/delete/{id}(id=${task.id})}">Delete</a>
        </td>
    </tr>

    </tbody>
</table>

<a href="/tasks/create">Create a New Task</a>

</body>
</html>