<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
</head>
<body>


<header>
    <nav>
        <div class="logo">
            <h1>Task Management</h1>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/tasks">Tasks</a></li>
        </ul>
    </nav>
</header>

<div>
    <h2>Authorization</h2>

    <form id="/users/login" method="POST" th:action="@{/users/login}">
        <label for="loginEmail">E-mail:</label>
        <input type="email" id="loginEmail" name="email" required>

        <label for="loginPassword">Password:</label>
        <input type="password" id="loginPassword" name="password" required>

        <button type="submit">Login</button>
    </form>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <div>
        <p>Don't have an account? <a href="/register">Registration</a></p>
    </div>
</div>

</body>
</html>
